*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 10px 15px 20px 15px;
    border: 1px solid rgb(236, 193, 20);
    border-radius: 20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    
}
fieldset{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    font-style: italic;
    padding: 10px;
}
input[type="submit"]{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    font-size: medium;
    border-radius: 30px;
    width: 100%;
    cursor: grab;
    background-color: #46b0a844;
}
input[type="submit"]:hover{
    transition-duration: 0.5s;
    color: black;
    background-color: #46b0a7b7;
}
h1{
    text-align: center;
}
p{
    font-style: italic;
    font-weight: 500;
}
